@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  margin: 0px;
  padding: 0px;
}
.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #06468a;
  text-align: center;
  color: white;
}
header {
  display: inline;
}
nav {
  background-color: #08325e;
  padding: 5px;
  position: sticky;
  top: 0px;
}
nav li {
  display: inline;
  list-style-type: none; /*menghilangkan tanda titik pada list */
  margin-right: 20px;
}
main {
  padding: 20px;
}
h2 {
  color: rgb(42, 42, 196);
}
nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
nav a:hover {
  font-weight: bold;
  background-color: #08a625;
}

.featured-image {
  width: 100%;
  max-height: 400px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
#content {
  float: left;
  width: 95%;
}

* {
  box-sizing: border-box;
}
main {
  padding: 20px;
  overflow: auto;
}
footer {
  padding: 10px;
  color: white;
  background-color: #08325e;
  text-align: center;
  font-weight: bold;
}
